<STYLE TYPE-"type/css">

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: "Times New Roman", "Times New Roman", serif;
}

.content_main {
  max-width: 960px;
  background-color: #8da7be;
  padding: 20px 10px;
  margin: auto;
}

.content_main h1 {
  /* defaults */
}

.header_main {
  overflow: hidden;
  background-color: #508991;
  padding: 20px 10px;
}

.header_main a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header_main a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header_main a:hover {
  background-color: #343e3d;
  color: #508991;
}

.header_main a.active {
  background-color: #0e402d;
  color: #8da7be;
}

.header_main-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header_main a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header_main-right {
    float: none;
  }
}

nav {
    font-family: monospace;
}

ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
  background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}

</STYLE>
